
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-PrimaryColor); 
    -webkit-backdrop-filter : blur(4px);
    backdrop-filter: blur(4px); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 5px solid #272727;
    border-top: 5px solid #FFA915; 
    border-radius: 50%;
    animation: spin-animation 1s linear infinite;
}


@keyframes spin-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes pulse-animation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}